@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:"Poppins";
}

main {
    max-width: 800px;
    width: auto;
    margin: 5% auto auto auto;
    padding: 20px 60px;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.527);
}

h1{
    width: auto;
    text-align: center;
    font-size: 40px;
    margin-bottom: -15px;
    font-weight: 400;
}

h2{
    width: auto;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    margin: 10px 0px 10px 0px;
}

h3{
    font-size: 24px;
    margin: 10px 0px 10px 0px;
    font-weight: 550;
}

li,p{
    font-weight: 350;
    font-size: 20px;
}

.section-2 p{
    margin-bottom: 5%;
}

.div-1{
    width: auto;
    height: auto;
    display: flex;
    /*border: black 2px solid;*/
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 10px;
}

.img-1{
    width: 200px;
    height: auto;
    border-radius: 10px;
    /*border: 2px black solid;*/
}

section{
    /*border: 2px blue solid;*/
    margin: 20px auto;
    padding: auto;
}

.div-maior{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.section-3 p{
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
    font-size: 15px;
}

.section-4{
    padding: 20px 0px 0px 0px;
}

.contato{
    display: flex;
    justify-content: center;
}

/*-----------------------------*/

.equipe {
    display: flex;
    justify-content:space-between;
     /*Espaçamento entre os membros*/
}

.dev{
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 330px; /* Ajuste a largura conforme necessário */
    height: 150px;
    transition: transform 0.3s;
}

.dev:hover {
    transform: scale(1.10);
}

.dev a{
    text-decoration: none;
}
.dev img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd; /* Linha abaixo da imagem */
}

.dev h3 {
    font-size: 1.5em;
    margin: 15px 0 5px;
}

.dev p {
    color: #555;
    padding: 0 10px 15px;
}

.info{
    margin-top: 10px;
    text-align: center;
}

#p-1{
    width: 80%;
    padding: 6px;
    margin-left: 37px;
}

#p-2{
    margin-left: 15px;
    margin-top: 15px;
    width: 300px;
    padding: 3px;
}


/*---------------------*/

.retangulo {
    border-radius: 30px;
    border: 1px solid black;
    width: 50%;
    height: 22vw;
    margin-left:auto;
    margin-right:auto; 
    background-color: #345244cb ;
    gap:1rem;
}

.retangulo h4 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    font-size: 24px;
    font-weight: 550;

}

.retangulo label {
    color: white;
    margin-left:29px;
    margin-right:auto; 
    margin-bottom:auto;
    font-size: 20px;
}

.retangulo input {
    padding: 0px 5px 0px 10px;
    margin-left:29px;
    margin-right:auto; 
    border: 1px solid black;
    border-radius: 4px;
    width: 80%;
    height: 2vw;
    outline: none;
}


#botao {
    width: 30%;
    height: 15%;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #175338;
    outline:#0e4135;
    padding: 0;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 17px;
}

#texto{
    height: 3vw;
}

.contato{
    width: 70%;
    margin: 0px auto 0px auto;
    border: solid black 2px;
    margin-top: 5%;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.icon-1{
    width: 80px;
    height: 80px;
}

.icon-2{
    width: 130px;
    height: 130px;
}

.icon-3{
    width: 80px;
    height: 80px;
}

.trocar{
    width: 15%;
    display: flex;
    justify-content: center;
    margin: 2% 0px 5% 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.781);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.trocar a{
    text-decoration: none;
    color: black;
}

.trocar p{
    font-weight: 300;
    font-size: 1.5vw;
}